---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Comments">
  <form>
    <div class="container mx-auto my-10 px-4 lg:px-20 rounded-md w-11/12">
      <div
        class="w-full p-8 my-4 md:px-12 lg:w-9/12 lg:pl-20 lg:pr-40 mr-auto rounded-2xl shadow-2xl bg-gray-900"
      >
        <div class="flex">
          <h1 class="font-bold uppercase text-5xl text-blue-400">Comments</h1>
        </div>
        <div class="grid grid-cols-1 gap-5 mt-5">
          <input
            class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            type="text"
            placeholder="Name*"
            required
          />
          <input
            class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            type="text"
            placeholder="Subject*"
            required
          />
          <input
            class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            type="email"
            placeholder="Email*"
            required
          />
        </div>
        <div class="my-4">
          <textarea
            placeholder="Message*"
            class="w-full h-32 bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            required></textarea>
        </div>
        <div class="my-2 w-1/2 lg:w-1/4">
          <button
            class="uppercase text-sm font-bold tracking-wide bg-blue-900 text-gray-100 p-3 rounded-lg w-full
                        focus:outline-none focus:shadow-outline"
          >
            Submit
          </button>
        </div>
      </div>
      <!-- Info Box -->
      <div
        class="w-full lg:-mt-96 lg:w-2/6 px-8 py-12 ml-auto bg-blue-900 rounded-2xl"
      >
        <div class="flex flex-col text-white">
          <h1 class="font-bold uppercase text-4xl my-4">Working Hours:</h1>
          <ul class="text-gray-400 text-xl">
            <li class="py-2 pl-5">Monday: 10:00 a.m. - 8:00 p.m. CST</li>
            <li class="py-2 pl-5">Tuesday: 10:00 a.m. - 8:00 p.m. CST</li>
            <li class="py-2 pl-5">Wednesday: 10:00 a.m. - 8:00 p.m. CST</li>
            <li class="py-2 pl-5">Thursday: 10:00 a.m. - 8:00 p.m. CST</li>
            <li class="py-2 pl-5">Friday: 10:00 a.m. - 8:00 p.m. CST</li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</Layout>
